/*Footer*/
footer{
    color:whitesmoke;
    position: fixed;
                bottom: 0;
            width: 100%;

  }
  footer{
    font-family: "myHomeFont",Times, Times New Roman, serif;

  }
  footer>h2{
    color: var(--main-dark-color);
    font-family:"myTitleFont";
  }
/*footerNav*/
#sitemap{
padding:15px;
}

#sitemap h3{
color: white;
font-family: "myTitleFont";
}

.footerNav{
background-color: whitesmoke;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
/*margin-top: 10px;
padding-top: 10px;*/
}
.navfooterbloc{
margin: var(--standartspace);
}
.navfooterbloc a{
display: inline-flex;
text-decoration: none;
color: var(--main-dark-color);
}

/**/

.navfooterbloc a:hover{
text-decoration: underline;
color: var(--secondary-blue-color);
}
/*Particular communications link*/
.maillink::before{
  content:url('/public/img/deco/icons8-mail-24.png');
  position: relative;
  top: 10px;
  left: -10px;
}
.phonelink::before{
  content:url('/public/img/deco/phone-filled-white.png');
  position: relative;
  top: 10px;
  left: -10px;
  bottom: 0;
}
.whatsapplink::before{
  content:url('/public/img/deco/icons8-whatsapp-24.png');
  position: relative;
  top: 10px;
  left: -10px;
}
.instagramlink::before{
   content:url('/public/img/deco/square-instagram-brands-solid-full.svg');
  position: relative;
  top: 10px;
  left: -10px;
}
/*Block  rsMenu*/
.nav-rs{
    display: flex;
    justify-content:center;
    background-color: var(--main-dark-color);
  }
  .nav-rs a{
    display: inline-block;
  }
  .rs{
  height: 30px;
  width: 30px;
  background-image: url("../img/deco/logo-rs_30px.png");
  background-position-y:0;
  margin: var(--standartspace);
  }
  .rs:hover{
    background-position-y:-30px;
    }
  .facebook{
  background-position-x:0;
  }
  .instagram{
  background-position-x:-30px;
  }
  .youtube{
    background-position-x:-90px;
    }
  .flickr{
  background-position-x:-150px;
  }
  /*End RSmenu*/


      /* end footerNav*/
  /**********************/