/*Header*/
header {
  color: var(--main-clear-color);
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.mainTitleBlock {
  background-color: var(--main-dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainsubtitle {
margin: auto;
  /*font-family: "myHomeFont";*/
  /*letter-spacing: .5rem;*/
  /*font-size: 1.8em;*/
}

.title-elmt{
padding: 10px;
 margin: auto;
}
.mainTitleBlock h2{
  font-family: "myTitleFont", Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 1.4em;
}
.mainsubtitle a {
  color: var(--main-clear-color);
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainsubtitle a:hover {
  color: var(--secondary-red);
}

/*End header*/
/**********************/
