/*Reset all */
* {
  margin: 0;
  padding: 0;
}

section {
  /*max-width: 94vw;*/
  margin: auto;
}

/*Communs disposition values*/
:root {
  --standartspace: 0.9em;
  --content-padding: 5px;
}

/*Communs Colors images*/
:root {
  --main-dark-color: #18161b;
  --main-clear-color: whitesmoke;
  --first-color: #c5c5c5;
  --secondary-blue-color: #4c7a78;
  --secondary-yellow: #c9c187;
  --secondary-red: #970102;
  --grey-clear-color: #a8a9ad;
  --rs-bckgrnd-img: url("../img/deco/logo-rs_30px.png");
}

/*Fonts*/
@font-face {
  font-family: "myHomeFont";
  src: url("./fonts/veteran typewriter.ttf");
}

@font-face {
  font-family: "myFirstFont";
  src: url("./fonts/Helroty-Regular.ttf");
  /*src: url("./fonts/Hind-Regular.ttf");*/
}

/*Use this font with this line => font-family: myFirstFont;*/
@font-face {
  font-family: "myTitleFont";
  src: url("./fonts/veteran typewriter.ttf");
  /*src: url("./fonts/Montserrat-Thin.ttf");*/
  /*src: url("./fonts/Runestars-Regular.ttf");*/
}

/*Use this font with this line => font-family: myTitleFont;*/
body {
  font-family: "myHomeFont";
}

h1 {
  font-size: 2em;
  font-weight: lighter;
}

h2 {

  /*font-family: "myFirstFont"; */
  /*font-family: "myTitleFont";*/
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-weight: lighter;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
}

a {
  font-size: 1em;
  font-weight: lighter;
}

p {
  margin: auto auto 5%;
  padding: var(--content-padding);
  max-width: 800px;
  text-align: justify;
}

:root {
  --standartspace: 0.9em;
  --content-padding: 20px;
}
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}